h {font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
color: darkred;}
.lw { font-size: 20px; 
text-align: center;}
.a {font-style: italic;
text-align: right;}
